[Unit]
Description=Home-lab MQTT logger a CSV (sensores)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/homelab/mqtt_logger.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
